<!-- <%- include("partials/header") -%> -->

<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/register.css">
</head>

<nav class="navbar navbar-default">
   <p class="navbar-brand"> <a href="/">SCHOOLBOOK</a> </p>
</nav>



<h3>Create an account</h3>

<form action="/register" method="post">
    <label>Username</label>
<br>    
    <input type="text" placeholder="Username" name="username" class="in">
 <br>   
 <br>
   <label>Email</label>
<br>
   <input type="email" placeholder="Email" name="email" class="in">
    <label>Password</label>
 <br>   
    <input type="password" placeholder="Password" name="password" class="in">
 <br>   
 <br>   

    <label>Confirm Password</label>
 <br>   
    <input type="password" name="password1" placeholder="Confirm password" class="in">
    <button type="submit" name="button" class="firstPage page">Register</button>
</form>